<ion-list>
  <ion-list-header class="ion-text-center">
    <ion-col size="2">
      days
    </ion-col>
    <ion-col size="3">
      host
    </ion-col>
    <ion-col size="2">
      result
    </ion-col>
    <ion-col size="3">
      guest
    </ion-col>
    <ion-col size="2">
      status
    </ion-col>
  </ion-list-header>
  <app-match-list-item *ngFor="let match of matches" [matchListItem]="match"></app-match-list-item>

  <!-- skeleton text start -->
  <ng-container *ngIf="!matches">
    <ion-item *ngFor="let iteration of [1, 2, 3]">
      <ion-grid>
        <ion-chip style="width: 10em"><ion-skeleton-text animated></ion-skeleton-text></ion-chip>
        <ion-chip style="width: 5em"><ion-skeleton-text animated></ion-skeleton-text></ion-chip>
        <ion-row>
          <ion-col size="2">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-card-header>
              <ion-card-content>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="2">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-card-header>
              <ion-card-content>
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="2">
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ng-container>
  <!-- skeleton text end -->
</ion-list>
