# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
.history/src/app/app.component_20191203151737.ts
.history/src/app/app.component_20191212161940.ts
.history/src/app/app.module_20191206155810.ts
.history/src/app/app.module_20191212162006.ts
.history/src/app/app.module_20191212164704.ts
.history/src/app/app.module_20191212164751.ts
.history/src/app/app.module_20191212165323.ts
.history/src/app/home/home.module_20191203173214.ts
.history/src/app/home/home.module_20191212172442.ts
.history/src/app/home/home.module_20191212172629.ts
.history/src/app/home/home.module_20191212172714.ts
.history/src/app/home/home.module_20191212172758.ts
.history/src/app/home/home.module_20191212173128.ts
.history/src/app/home/home.module_20191212173257.ts
.history/src/app/home/home.page_20191203171620.ts
.history/src/app/home/home.page_20191209135826.html
.history/src/app/home/home.page_20191212162429.html
.history/src/app/home/home.page_20191212162456.html
.history/src/app/home/home.page_20191212162727.html
.history/src/app/home/home.page_20191212162738.html
.history/src/app/home/home.page_20191212163627.html
.history/src/app/home/home.page_20191212163847.html
.history/src/app/home/home.page_20191212163859.html
.history/src/app/home/home.page_20191212164103.html
.history/src/app/home/home.page_20191212164129.html
.history/src/app/home/home.page_20191212164704.ts
.history/src/app/home/home.page_20191212165529.ts
.history/src/app/home/home.page_20191212165825.ts
.history/src/app/home/home.page_20191212170006.html
.history/src/app/home/home.page_20191212170006.ts
.history/src/app/home/home.page_20191212170019.html
.history/src/app/home/home.page_20191212170210.ts
.history/src/app/home/home.page_20191212170238.ts
.history/src/app/home/home.page_20191212170324.ts
.history/src/app/home/home.page_20191212170408.ts
.history/src/app/home/home.page_20191212170419.html
.history/src/app/home/home.page_20191212170635.ts
.history/src/app/home/home.page_20191212170702.ts
.history/src/app/home/home.page_20191212170726.ts
.history/src/app/home/home.page_20191212170757.html
.history/src/app/home/home.page_20191212170757.ts
.history/src/app/home/home.page_20191212170810.ts
.history/src/app/home/home.page_20191212170824.ts
.history/src/app/home/home.page_20191212170832.ts
.history/src/app/home/home.page_20191212170843.html
.history/src/app/home/home.page_20191212170928.ts
.history/src/app/home/home.page_20191212171039.html
.history/src/app/home/home.page_20191212171039.ts
.history/src/app/home/home.page_20191212171136.ts
.history/src/app/home/home.page_20191212171138.ts
.history/src/app/home/home.page_20191212171145.html
.history/src/app/home/home.page_20191212171154.html
.history/src/app/home/home.page_20191212172003.ts
.history/src/app/home/home.page_20191212172116.ts
.history/src/app/home/home.page_20191212172241.html
.history/src/app/home/home.page_20191212172442.html
.history/src/app/home/home.page_20191212173306.html
.history/src/app/matches/match-list/match-list.module_20191203122534.ts
.history/src/app/matches/match-list/match-list.module_20191212172442.ts
.history/src/app/matches/match-list/match-list.page_20191212113340.html
.history/src/app/matches/match-list/match-list.page_20191212173238.html
.history/src/app/matches/match-report/match-report.page_20191212150556.html
.history/src/app/matches/match-report/match-report.page_20191212152021.html
.history/src/app/matches/match-report/match-report.page_20191212152058.html
.history/src/app/matches/match-report/match-report.page_20191212152115.html
.history/src/app/matches/match-report/match-report.page_20191212152148.html
.history/src/app/matches/match-report/match-report.page_20191212152206.html
.history/src/app/matches/match-report/match-report.page_20191212152217.html
.history/src/app/matches/match-report/match-report.page_20191212152232.html
.history/src/app/matches/match-report/match-report.page_20191212152242.html
.history/src/app/matches/match-report/match-report.page_20191212152357.html
.history/src/app/matches/match-report/match-report.page_20191212152548.html
.history/src/app/matches/match-report/match-report.page_20191212152608.html
.history/src/app/matches/match-report/match-report.page_20191212152619.html
.history/src/app/matches/match-report/match-report.page_20191212152643.html
.history/src/app/matches/match-report/match-report.page_20191212152651.html
.history/src/app/matches/match-report/match-report.page_20191212152732.html
.history/src/app/matches/match-report/match-report.page_20191212152926.html
.history/src/app/matches/match-report/match-report.page_20191212152944.html
.history/src/app/matches/match-report/match-report.page_20191212153205.html
.history/src/app/matches/match-report/match-report.page_20191212153234.html
.history/src/app/matches/match-report/match-report.page_20191212153614.html
.history/src/app/matches/match-report/match-report.page_20191212153640.html
.history/src/app/matches/match-report/match-report.page_20191212153704.html
.history/src/app/players/player-details/player-details.page_20191209194513.ts
.history/src/app/players/player-details/player-details.page_20191212161927.ts
.history/src/app/players/player-list/player-list.page_20191209193432.ts
.history/src/app/players/player-list/player-list.page_20191212172212.ts
.history/.gitignore_20191118174339
.history/.gitignore_20191212173827
.history/src/theme/variables_20191212150905.scss
.history/src/theme/variables_20191212152021.scss
