<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="!disableBackButton" slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
    <ion-buttons *ngIf="afAuth.auth.currentUser; else signInButton" slot="primary">
      <ion-button *ngIf="displayName" [routerLink]="['/players', uid]">
        {{ displayName }}
        <ion-icon slot="start" name="contact"></ion-icon>
      </ion-button>
      <ion-button (click)="signOut()">
        sign out
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ng-template #signInButton>
      <ion-buttons slot="primary">
        <ion-button (click)="signIn()">
          sign in
          <ion-icon slot="end" name="log-in"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-template>
  </ion-toolbar>
</ion-header>
