<ion-content>
  <ion-list *ngIf="player">
    <ion-item>
      <ion-label position="stacked">id</ion-label>
      {{ playerId }}
    </ion-item>
    <ion-item>
      <ion-label position="stacked">name</ion-label>
      <ng-container *ngIf="player?.name; else blank"
        >{{ player?.name }}
        <ion-button fill="clear" color="success" (click)="nameChangeAlert()">
          <ion-icon name="save" slot="start"></ion-icon>
          change name
        </ion-button>
      </ng-container>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">email</ion-label>
      {{ player.email }}
    </ion-item>
    <ion-item>
      <ion-label position="stacked">points</ion-label>
      {{ player.points }}
    </ion-item>
    <ion-item>
      <ion-label position="stacked">matches</ion-label>
      {{ player.matches }}
    </ion-item>
    <ion-item>
      <ion-label position="stacked">average goal ratio</ion-label>
      {{ player.averageGoalRatio }}
    </ion-item>
  </ion-list>

  <ng-container *ngIf="player">
    <ion-label>last matches</ion-label>
    <app-match-list [playerName]="player.name"></app-match-list>
  </ng-container>
</ion-content>
