<!-- <app-header pageTitle="{{ pageTitle }}"></app-header> -->

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">id</ion-label>
      <ng-container *ngIf="playerId; else blank">{{ playerId }}</ng-container>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">name</ion-label>
      <ng-container *ngIf="player?.name; else blank">{{ player?.name }}</ng-container>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">email</ion-label>
      <ng-container *ngIf="player?.email; else blank">{{ player?.email }}</ng-container>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">points</ion-label>
      <ng-container *ngIf="player?.points; else blank">{{ player?.points }}</ng-container>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">matches</ion-label>
      <ng-container *ngIf="player?.matches; else blank">{{ player?.matches }}</ng-container>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">average goal ratio</ion-label>
      <ng-container *ngIf="player?.averageGoalRatio; else blank">{{ player?.averageGoalRatio }}</ng-container>
    </ion-item>
    <ng-template #blank>. . .</ng-template>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="player" color="success">
    <ion-button expand="full" fill="clear" color="light" (click)="nameChangeAlert()">
      <ion-icon name="save" slot="start"></ion-icon>
      change name
    </ion-button>
  </ion-toolbar>
</ion-footer>
