<ion-item button [routerLink]="['/matches', matchListItem.id]">
  <!-- ten grid ma ten głupi padding .item-inner:padding-right -->
  <ion-grid>
    <ion-chip>{{ matchListItem.date }}</ion-chip>
    <ion-chip>{{ matchListItem.type }}</ion-chip>
    <ion-row>
      <ion-col size="2">
        <ion-badge>{{ matchListItem.daysAgo }} days ago</ion-badge>
      </ion-col>
      <ion-col size="3">
        <ion-card color="dark">
          <ion-card-header
            class="ion-color"
            [ngClass]="
              matchListItem.hostScore > matchListItem.guestScore
                ? 'ion-color-success'
                : matchListItem.hostScore == matchListItem.guestScore
                ? 'ion-color-warning'
                : 'ion-color-danger'
            "
          >
            {{ matchListItem.hostName }}
          </ion-card-header>
          <ion-card-content class="ion-margin-top">
            {{ matchListItem.hostClub }}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        {{ matchListItem.hostScore }} : {{ matchListItem.guestScore }}
      </ion-col>
      <ion-col size="3">
        <ion-card color="dark">
          <ion-card-header
            class="ion-color"
            [ngClass]="
              matchListItem.guestScore > matchListItem.hostScore
                ? 'ion-color-success'
                : matchListItem.guestScore == matchListItem.hostScore
                ? 'ion-color-warning'
                : 'ion-color-danger'
            "
          >
            {{ matchListItem.guestName }}
          </ion-card-header>
          <ion-card-content class="ion-margin-top">
            <ion-icon name="football"></ion-icon>
            {{ matchListItem.guestClub }}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-fab>
          <ion-fab-button>{{ matchListItem.status }}</ion-fab-button>
          <ion-fab-list side="top">
            <ion-fab-button>accept</ion-fab-button>
          </ion-fab-list>
          <ion-fab-list side="start">
            <ion-fab-button>decline</ion-fab-button>
          </ion-fab-list>
          <ion-fab-list side="bottom">
            <ion-fab-button>edit</ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- zmusić tego div'a do zejścia ponieżej grid'a i zajęcia 100% szerokości -->
  <!-- <div
    [ngClass]="matchListItem.hostScore > matchListItem.guestScore ? 'host-win' : matchListItem.hostScore == matchListItem.guestScore ? 'draw' : 'guest-win'"
  >
    x
  </div> -->
</ion-item>
