<ion-header>
  <ion-toolbar>
    <ion-title>fifarank</ion-title>
    <ion-buttons slot="primary">
      <ion-button *ngIf="displayName">
        {{ displayName }}
        <ion-icon slot="start" name="contact"></ion-icon>
      </ion-button>
      <ion-button *ngIf="afAuth.auth.currentUser" (click)="signOut()">
        Sign out
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <firebase-ui></firebase-ui>

  <ion-button routerLink="/players">players</ion-button>
  <ion-button routerLink="/matches">matches</ion-button>
  <ion-button routerLink="/match-report">
    <ion-icon name="add-circle"></ion-icon>
    report a match
  </ion-button>
</ion-content>
